*{
    background: #EEEBE7;
    margin: 0%;
}

.decoracion_rectangulo {
    z-index: 0;
    position: absolute;
    background: #DDD8D1;
    height: 90%;
    left: 8%;
}

.titulo_seccion {
    position: relative;
    background: #F9F8F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    color: #6C461A;
    font-weight: 600;
    font-size: 2.7vw;
    padding: 3% 0% 0% 0%;
    text-align: center;
    letter-spacing: -0.04em;
}

.boton_info {
    position: relative;
    color: #F9F8F6;
    background: #6C461A;
    border-radius: 11px;
    font-weight: 600;
    font-size: 3vw;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    padding: 0.5%;
    padding-left: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.boton_info > p {
    margin: 0% 0% 1% 6%;
    background: none;
    font-size: 5vw;
}

.textos {
    position: relative;
    background: none;
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4F4F4F;
}

#actividades {
    position: absolute;
    padding: 0;
    margin-top: 2%;
}

.actividad {
    height: 65vh;
    position: relative;
    float: left;
    margin-bottom: 4%;
}

.decoracion_rectangulo > img {
    position: relative;
    background: none;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    height: 75%;
    object-fit: cover;
}


/*-------------------------------------DIVIERTETE-------------------------*/
#diversion_img {
    padding: 0;
    bottom: 9%;
    left: 10%;
}

#diversion > .titulo_seccion {
    top: 52%;
    left: 12%;
}

#boton_info_gatos {
    top: 49%;
}

/*-------------------------------------DISFRUTA-------------------------------*/
#disfruta > .decoracion_rectangulo {
    top: 10%;
}

#disfruta_img {
    padding: 0;
    bottom: 9%;
    left: 5%;
}

#disfruta > .titulo_seccion {
    top: 65%;
}

/*-------------------------------------CONOCE-------------------------------*/
#conoce > .decoracion_rectangulo {
    top: 10%;
    left: 10%;
}

#conoce_img {
    padding: 0;
    bottom: 9%;
    right: 5%;
}

#conoce > .titulo_seccion {
    left: 15%;
    top: 60%;
}

/*-------------------------------------PRUEBA-------------------------------*/
#prueba {
    margin-top: 5%;
}

#prueba_img {
    padding: 0;
    bottom: 9%;
}

#prueba > .titulo_seccion {
    left: 10%;
    top: 45%;
}

#boton_info_menu {
    left: 65%;
    top: 35%;
}

/*-------------------------------------AMIGOS-------------------------------*/
#amigos_img {
    padding: 0;
    bottom: 9%;
}

#amigos > .titulo_seccion {
    left: 10%;
    top: 45%;
}

/*-------------------------------------TRABAJA-------------------------------*/
#trabaja {
    margin-top: 5%;
}
#trabaja_img {
    padding: 0;
    bottom: 7%;
}

#trabaja > .titulo_seccion {
    top: 45%;
    right:5%;
}
