#who > div {
    float: left;
    width: 70%;
}

p { font-size: 2.5vw; }
p:not(:first-child) { padding-top: 1%; }

#who > img {
    float: right;
    margin: 0 2.5% 2.5%;
    width: 25%;
}

form {
    margin-bottom: 60px;
}

#faq > .Item {
    padding: 0;
    display: block;
    margin-top: 25px;
    min-height: 70px;
}

#faq > .Item > .Item {
    width: 100%;
    border: none;
    background-color: transparent;
}

#faq .dropdown > .ItemText {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

#faq p { padding-bottom: 25px; }
