/*=================================================ESTILOS COMPARTIDOS==========================================================*/
img:not(header img) {
    position: relative;
    background: none;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

h1 {
    border-bottom: none;
}

.SplitContainer > span:not(:first-child) { 
    font-size: 70px;
    margin-right: 2%;
    line-height: 50%;
}

.mas_info {
    width: 33.3%;
}

.boton_info {
    position: relative;
    color: var(--producto-bg);
    background: var(--marron-base);
    border-radius: 11px;
    font-weight: 600;
    font-size: 2.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.decoracion_rectangulo {
    position: relative;
    z-index: 0;
    background: var(--bordes);
}

.titulo_seccion {
    position: relative;
    background: var(--producto-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    color: rgb(44, 34, 27);
    font-weight: 600;
    font-size: 4vw;
}

.textos {
    position: relative;
    padding: 0%;
    background: none;
    font-weight: 500;
    font-size: 2.3vw;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4F4F4F;
}

section {
    float: left;
    height: 800px;
    margin-bottom: 3%;
}

section.col-12 {
    padding: 0;
}
/*----------------HEADER--------------------*/

header:first-child {
    border: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
}

header:first-child > img {
    opacity: 0;
}

#nav-button-container {
    background-color: transparent;
}

header.col-12 {
    height: 100vh;
    background-image: url("../image/catcafe5.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

body > header > img {
    height: auto;
    object-fit: cover;
}

.reserva_header {
    position: relative;
    bottom: 10%;
    background: none;
    color: var(--page-bg);
}

.reserva_header > p {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 130%;
    margin: 10% 4% 2%;
    background: none;
    text-align: left;
    text-shadow: 2px 0 var(--marron-base), 0 -2px var(--marron-base);
}

.reserva_header > button {
    float: right;
    font-weight: 600;
    font-size: 2.5vw;
    letter-spacing: 0.05em;
    color: var(--page-bg);
    padding: 1.5%;
    background: var(--marron-base);
    border: 1px solid var(--page-bg);
    border-radius: 32px;
}

/*--------------------ACTIVIDADES-------------------*/
#actividades {
    position: absolute;
    height: 100%;
    padding: 0;
    float: left;
}

#actividades > .decoracion_rectangulo {
    left: 18%;
    height: 80%;
    padding: 0;
    margin-top: 2.5%;
}

#boton_info_act {
    left: 65%;
    bottom: 7%;
}

#actividades > .titulo_seccion {
    left: 10%;
    bottom: 83%;
}

#primera_vez {
    left: 10%;
    top: 25%;
}

#juega_con {
    float: right;
    right:5%;
    top: 35%;
}

#img_home_activ_1{
    float: right;
    right: 2%;
    bottom: 80%;
    padding: 0;
}

#img_home_activ_2{
    left: 2%;
    bottom: 57%;
    padding: 0;
}

/*-------------------PRODUCTOS------------------*/
#productos {
    padding: 0;
    height: 100%;
    position: absolute;
}

#productos > #rect1 {
    left: 36%;
    bottom: 70%;
    height: 60%;
    margin-top: 2.5%;
    border: 2px solid var(--page-bg);
}

#productos > #rect2 {
    left: 5%;
    height: 55%;
    margin-top: 15%;
}

#productos > .titulo_seccion {
    float: right;
    right: 4%;
    bottom: 127%;
}

#aprovecha_tu {
    float: right;
    right: 10%;
    top: 30%;
}

#boton_info_prod {
    float: right;
    left: 47%;
    bottom: 88%;
}

#boton_haz_pedido {
    width: 30%;
    right: 47%;
    top: 72%;
    font-size: 2.6vw;
}

#img_home_prod_1 {
    height: 30%;
    object-fit: cover;
    padding: 0;
    right: 22%;
    bottom: 122%;
}

#img_home_prod_2 {
    padding:0;
    bottom:110%;
    left:20%;
}

/*----------------------GATOS-------------*/
#gatos {
    position: absolute;
    height: 100%;
}

#gatos > .decoracion_rectangulo {
    left: 15%;
    height: 80%;
    padding: 0;
    top: 5%;
}

#img_home_gatos_1 {
    float:right;
    padding: 0;
    height: 75%;
    object-fit: cover;
    object-position: top;
    top:8%;
    right: 5%;
}

#img_home_gatos_2 {
    padding: 0;
    top:32%;
    left: 17%;
}

#todo_lo{
    top: 30%;
    margin: 2%;
}

#gatos > h1 {
    text-align: center;
    bottom: 70%;
}

#boton_info_gatos {
    bottom:5%;
}

/*--------------------------LOCAL---------------------*/
#local {
    position:absolute;
    height: 100%;
}

#rect3 {
    float: right;
    right: 10%;
    height: 80%;
    top: 7%;
    padding: 0;
}

#rect4 {
    left: 3%;
    height: 63%;
    bottom: 50%;
    border: 2px solid var(--page-bg);
}

#local > .titulo_seccion {
    bottom:65%;
    right:23%;
    text-align: center;
}

#local > #rect4 > .textos {
    left: 10%;
}
#local > #rect3 > .textos {
    left: 55%;
    top: 34%;
}

#img_home_local_1 {
    padding: 0;
    left: 5%;
    top: 5%;
}

#img_home_local_2 {
    float: right; 
    padding: 0;
    left: 10%;
    top: 5%;
}

#img_home_local_3 {
    float: right; 
    padding: 0;
    left: 20%;
    top: 30%;
}

#boton_info_local {
    top:80%;
    left: 43%;
}


/*---------------------------------REDES------------------------*/
#redes {
    height: 100%;
    position: absolute;
}

#rect5 {
    margin-left: 4%;
    height: 70%;
    top: 10%;
}

#rect6 {
    margin-top: 6%;
    left:50%;
    height: 35%;
    bottom: 50%;
    border: 2px solid var(--page-bg);
}

#redes > .titulo_seccion {
    bottom: 55%;
    right: 20%;
}

#rect6 > .textos {
    top:30%;
    left: 5%;
    line-height:150%;
}

#img_home_redes_insta {
    padding: 0;
    box-shadow: none;
    top:35%;
    left:4%;
}

#img_home_redes_tumblr {
    padding: 0;
    box-shadow: none;
    top:35%;
    left:10%;
}

#boton_redes {
    bottom:7%;
    left: 10%;
    box-sizing: border-box;
    width: 40%;
}


/*---------------------FOOTER----------------------*/
footer{
    height: 30vh;
    background-color: var(--marron-base);
    margin-top: 3%;
}

a:not(nav > *) {
    background: none;
    color: var(--bordes);
    text-decoration: none;
}

#footer_home {
    position: relative;
    top:35%;
    left: 5%;
    font-size: 3vw;
}

#footer_politica {
    position: relative;
    top:25%;
    text-align: center;
    font-size: 3vw;
}

ul {
    position: relative;
    background: none;
    top: 5%;
}

#lista_1 {
    left: 5%;
}
#lista_2 {
    left: 5%;
}

li {
    background: none;
    color: var(--bordes);
    font-size: 2vw;
    line-height: 150%;
}
