#pedido > hr {
    margin-top: 20px;
    color: #6c461a;
}

#pedido > #progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}
    #progress > .circle {
        flex-shrink: 0;
        border-radius: 50%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        height: 150px;
        width: 150px;
    }

    #progress > .trans {
        height: 10px;
        background-color: lightgray;
        flex: 1 1 auto;
        align-self: center;
    }

#list-prods-order > .Item {
    overflow: hidden;
    padding-left: 0;
    height: 150px;
    margin-bottom: 15px;
}

#list-prods-order > .Item { align-items: stretch; }
#list-prods-order > .Item > .SplitContainer { flex-grow: 1; }

.ImagePreview {
    max-width: 20%;
    margin-right: 15px;
    object-fit: cover;
}

#sending-form {margin-bottom: 15px; }

#step > .result {
    height: 100%;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    background: transparent;
}

        .back {
            align-items: center;
            margin: 30px 30% 0 30%;
            display: flex;
        }


        #step > .result > .order {
            flex: 1 1 auto;
            background-color: white;
            border-radius: 20px;
            padding: 15px
        }
            #step > .result > .order > .subtotal {
                font-weight: bold;
                font-size: 2em;
            }
                #step > .result > .order > .subtotal > p {
                    text-align: left;
                }
                #order-total-prev {
                    text-align: right;
                }
            #step > .result > .order > button {
                width: 100%;
                background-color: #6c461a;
                color: #f9f8f6;
                padding: 20px 0;
                border-radius: 20px;

                box-shadow: 0 5px 7px 0 grey;
                font-weight: bold;
                font-size: 1.5em;
                cursor: pointer;
                margin-right: 50px;
            }


#step > .login {
    align-items: center;
}

#step > .sending{}
    .sending > .res-shipment{
        border: lightgray 3px solid;
        background-color: #f9f8f6;
    }

#step > .success {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    align-items: center;
    text-align: center;
}
    .success > .message {
        align-items: center;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
        .message > p {
            text-align: center;
            font-size: calc(0.9em + 1vw);
        }

    .gif > img{
        border-radius: 50%;
        overflow: hidden;
        max-width: 50%;
        max-height: 50%;
    }

    #clock {
        margin-bottom: 5%;
        transform: scale(120%);
    }

/*Breakpoint for movilephones*/
@media only screen and (max-width: 654px) {
    #list-prods-order > .preview {
        flex-flow: column nowrap;
    }
    #list-prods-order > .preview > .image-prev {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        max-width: 100%;
    }
    .BrownButton {
        flex-flow: column nowrap;
        font-size: calc(0.8em + 1vw);
    }
}
