#reserve-window {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    padding: 0;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#progress {
    height: 100%;
    background-color: var(--marron-base);
    border: none;
}

#progress > * {
    padding-left: 0;
    padding-right: 0;
}

#progress .SplitContainer > div:first-child {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
}

.ProgressIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    font-size: 24px;

    border: 2px solid rgba(0, 0, 0, 0.06);
    background: var(--page-bg);
}

.ProgressIcon.Completed {
    background: var(--verde-confirmar); 
}

.ProgressIcon.Current {
    border-color: var(--marron-base); 
}

#menu {
}

form {
    float: right;
    border: none !important;
}

form > .ItemContainerContent {
}

form > button {
}
