#reserve-window {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    padding: 0;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#progress {
    height: 100%;
    background-color: var(--marron-base);
    border: none;
}

#progress > * {
    padding-left: 0;
    padding-right: 0;
}

#progress .SplitContainer > div:first-child {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
}

.ProgressIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    font-size: 24px;

    border: 2px solid rgba(0, 0, 0, 0.06);
    background: var(--page-bg);
}

.ProgressIcon.Completed {
    background: var(--verde-confirmar); 
}

.ProgressIcon.Current {
    border-color: var(--marron-base); 
}

form, #confirmation {
    float: right;
    border: none !important;
}

form input[type="radio"] {
  display: none;
}

#payment-method-input-container {
    display: flex;
}

#payment-method-input-container > label {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--bordes);
    background: #FFF; 
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-weight: bold;
}

#payment-method-input-container > label:first-of-type { margin-right: 10px; }

#payment-method-input-container img {
    width: 40px;
    height: 40px;
}

#payment-method-input-container > input:checked + label {
    border-color: var(--marron-base)
}

#expiry-date-item {
    width: 67%;
}

#cvc-item {
    width: 33%;
    float: right;
}

#confirmation > .ItemContainerContent {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#confirmation p {
    text-align: center;
    font-weight: bold;
}

#confirmation p:first-child {
    margin-bottom: 20px;
}
