* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Arial Sans", sans-serif;
}

/* Colors used */
:root {
    --marron-base: #6C461A;
    --producto-bg: #F9F8F6;
    --bordes: #DDD8D1;
    --page-bg: #EEEBE7;
    --verde-confirmar: #9ADE56;
    --text: #000000;
}

body {
    background-color: var(--page-bg);
    color: var(--text);
}

body > header {
    color: var(--marron-base);
    border-bottom: 2px solid var(--bordes); 
    font-size: 80px;
    height: 120px;
    font-family: Newsreader;
    line-height: 120px;
    padding: 0 30px;
}

#nav-button-container {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    top: 0px;
}

#nav-menu-button {
    position: fixed;
    z-index: 100;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--page-bg);
}

nav > * {
    color: #000;
    font-family: Newsreader;
    font-size: 64px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
