* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Arial Sans", sans-serif;
}

/* Colors used */
:root {
    --marron-base: #6C461A;
    --producto-bg: #F9F8F6;
    --bordes: #DDD8D1;
    --page-bg: #EEEBE7;
    --recuadros: #E6E6E6;
    --verde-confirmar: #9ADE56;
    --text: #000000;
}

body {
    background-color: var(--page-bg);
    color: var(--text);
}

main {
    padding: 0 50px;
}

body > header {
    color: var(--marron-base);
    border-bottom: 2px solid var(--bordes); 
    font-size: 80px;
    height: 120px;
    font-family: Newsreader;
    line-height: 120px;
    padding: 0 30px;
}

#nav-button-container {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80px;
    top: 0px;
}

#nav-menu-button {
    position: fixed;
    z-index: 100;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--marron-base);
    color: var(--recuadros);
    font-size: 64px;
    line-height: 0;
    padding-bottom: 15px;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--page-bg);
}

nav > * {
    color: #000;
    font-family: Newsreader;
    font-size: 64px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

h1 {
    border-bottom: 2px solid var(--marron-base);
    padding-bottom: 10px;
    font-family: Newsreader;
    font-size: 64px;
    font-weight: initial;
}

h2 {
    font-size: 40px;
    font-weight: initial;
}

h3 {
    font-size: 40px;
    font-weight: initial;
}

p {
    font-size: 24px;
}

button {
    cursor: pointer;
    border: transparent;
}

input {
    background-color: transparent; 
    border: transparent;
}

input::placeholder {
    opacity: 0.33;
}

.ItemContainer {
    width: 100%;
    background-color: var(--producto-bg);
    padding: 25px;
    border-radius: 25px;
    border: 2px solid var(--bordes);
}

.ItemContainer > header {
    font-family: Inter;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ItemContainer > * {
    width: 100%;
}

.ItemContainer > .ItemLabelContainer {
    padding: 0 25px 0 25px;
    margin-top: 15px;
    float: left;
}

.ItemContainer > .ItemLabelContainer > .ItemLabel {
    font-family: Inter;
    font-size: 22px;
    margin-bottom: 10px;
    display:inline-block
}

form.ItemContainer > .ItemLabelContainer > .ItemLabel > span {
    color: red;
}

.ItemContainer > .ItemLabelContainer > .Item {
    display: flex;
    height: 70px;
    padding: 25px;
    align-items: center; 
    border-radius: 25px;
    border: 2px solid var(--bordes);
    background: #FFF; 
}

.ItemContainer > .ItemLabelContainer > .Item > .ItemText {
    font-family: Inter;
    font-size: 20px;
    width: 100%;
}

.ItemContainer::after {
    content: "";
    clear: both;
    display: table;
}

.ItemContainer > button {
    padding: 8px 24px; 
    border-radius: 10px;
    background-color: var(--marron-base);
    margin-top: 25px;
    color: var(--page-bg);
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
}

.ItemContainer > button > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.ItemContainer > button > .ButtonText {
    float: left;
}

.ItemContainer > button > .ButtonArrow {
    float: right;
    width: 32px;
    font-size: 20px;
}
