.Content > * { padding-top: 0; }

.Content > ul {
}
    ul > li {
        padding: 20px 0 0 0;
    }
    ul > .Up {
        font-size: calc(1em + 1vw);
        line-height: 1em;
    }
    ul > .Down {
        margin-left: 5vw;
        font-size: calc(0.5em + 1vw);
    }

#Packs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

    #Packs > .Pack {
        background-color: var(--producto-bg);
        border: 2px solid var(--bordes);
        flex: 1 1 20%;
        margin: 0 30px 0;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

        .Pack > header {
            background-color: var(--bordes);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 10px;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 24px;
        }

        .Pack > .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

            .Pack > .body > .description {
                padding: 10px 30px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: black;
            }

            .Pack > .body > .offers {
                padding: 0 20px;
                font-weight: bold;
                flex-grow: 1;
            }
                .Pack > .body > .offers > ul {
                    margin-left: 25px;
                }

                .Pack > .body > .offers > ul > li {
                    padding: 0 10px;
                    margin: 8px 0;
                    font-size: 20px;
                }

            .Pack > .body > .price {
                padding-bottom: 10px;
            }
                .Pack > .body > .price > * { text-align: center; }

                .Pack > .body > .price > .amount {
                    font-weight: bold;
                    color: var(--marron-base);
                }

                .Pack > .body > .price > .note {
                    font-size: 14px;
                    color: black;
                }

#check > .info {
    text-align: center;
}

#check > .info > p {
    font-size: 32px;
    padding: 20px;
}

#check > .info > .BrownButton {
    width: 100%;
    display: block;
}

#check > img { float: right; }

@media screen and (max-width: 1000px) {
    #Packs {
        align-items: center;
        flex-flow: column nowrap;
        justify-content: initial;
    }

    #Packs > .Pack {
        width: 100%;
        margin-bottom: 5%;
        overflow: auto;
    }
}

@media screen and (min-width: 768px) {
    #check > .info > p { padding-top: 0; }
}

/* Breakpoint for medium devices.*/
@media only screen and (max-width: 768px){
    #check > * { width: 100%; }
}
